<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="">
    <div class="row">
        <div class="navbar navbar-default">
            {{ knp_menu_render('AppBundle:PublicMenuBuilder:navMainMenu') }}
        </div>
    </div>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
<script src="{{ asset('js/jquery/jquery.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
