<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style/admin_style.css') }}">
    {% endblock %}
</head>
<body>

    <div class="container">
        <div class="row">
            {% block mainMenu %}
            <div class="navbar navbar-default admin_nav_menu">
                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
            </div>
        </div>
            {% endblock %}
        {% block body %}{% endblock %}
    </div>
{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
