body {
    background-color: #f9f6ff;
}

/*Admin Part*/
.form {
    margin-top: 20px;
}
.form_filter {
    margin: 25px 0;
}
a.button_admin {
    margin-left: 7em;
    margin-top: 3em;
}

button.admin_btn_edit {
    margin-left: 15px;
}

a.admin_btn_list_menu {
    margin-left: 1em;
}

div.admin_btn {
    margin: 3em 0 5em 0;
}

a.admin_btn_mrg {
    margin-left: 5em;
}

div.btn_filter .form_margin_btn {
    margin-left: 1.5em;
}

img.news_img_admin {
    max-width: 200px;
    max-height: 150px;
}

form.admin_login_form {
    padding: 10px 0 ;
    background-color: #72c8a6;
    border-radius: 10px;
    /*box-shadow: 1px 1px 7px 3px;*/

}

div.admin_nav_menu {
    background-color: #f7f5d6;
}

td.content_wrap {
    max-width: 250px;
    word-wrap: break-word;
}

/*Login Form*/
div.admin_login {
    margin-top: 150px;
}
