body {
    background-color: #fff;
}

/*Public Part*/
div.public_list {
    background-color: #efefef;
    /*border: 1px solid #d6f0bd;*/
}


img.news_img {
    min-width: 200px;
    min-height: 150px;
    width: 290px;
    height: 220px;
    /*position: relative;*/
}


div#news_logo_header{
    margin-top: 20px;
    border-bottom: 2px solid #98afdf;
}

a img.news_logo {
    width:  185px;
    height: 125px;
}

div.left_sidebar {
    margin-top: 154px;
}

div.left_sidebar ul li {
    list-style-type: none;
}

div.left_sidebar ul li a{
    text-decoration: none;
}

/* Single News Part */

div#single_news_logo_header{
    margin-top: 20px;
    border-bottom: 2px solid #0f0f0f;
}

h2 a.logo_news_list {
    text-decoration: none;
    /*color: #50b6fc;*/
}
div.single_news {
    background-color: #efefef;
}

img.single_news_img {
    min-width: 200px;
    min-height: 150px;
    max-width: 365px;
    max-height: 270px;
    /*position: relative;*/
}

div.img_list {
    float: left;
    padding: 10px;
    margin-right: 15px;
    /*min-width: 20%;*/
}
div.comments_block {
    margin: 8em 0 0 4em;
}

div.users_comments {
    margin-top: 2em;
    /*background-color: #cfd3cd;*/
}

div.users_comments h4 {
    color: #985f0d;
}

div.users_comments h4 span{
    color: #988f58;
    margin-left: 5px;
    font-size: 15px;
}

div.users_comments:first-child {
    background-color: #cfd3cd;
}


div.news_part_margin {
    margin-top: 2em;
}


div.comments_form {
    margin: 2em 0 19em 0;
}

p.news_text {
//
}


