{% extends 'layout_admin.twig' %}

{% block title %}Admin Add News{% endblock %}

{% block  body %}
    <h2>New Category</h2>

    {% block form %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="col-md-12">
            <div class="row">
                <div class="form">
                    <div class="form-horizontal">
                        <div class="form-group">
                            {{ form_label(form.name, null, {'label_attr' : { 'class' : 'control-label col-sm-2'}}) }}
                            {{ form_errors(form.name) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                {{ form_widget(form.save, { 'attr' : { 'class' : 'btn  btn-sm btn-success admin_btn_edit' }}) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    {% endblock %}

    <div class="row">
        <a href="{{ path('admin_news') }}" class="btn btn-sm btn-warning admin_btn_mrg">Back to admin Menu</a>
        <a href="{{ path('category_list') }}" class="btn btn-sm btn-info">To Category List</a>
    </div>
{% endblock %}