{% extends 'layout_admin.twig' %}

{% block title %}Admin Add News{% endblock %}

{% block  body %}

    {% block form %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="col-md-12">
        <div class="row">
            <div class="form">
                <div class="form-horizontal">
                    <div class="form-group">
                        {{ form_label(form.title, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.title) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.title, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.content, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.content) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.content, { 'attr' : { 'class' : 'form-control ' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.author, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.author) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.author, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.published_at, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.published_at) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.published_at, { 'attr' : { 'class' : '' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.file, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.file) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.file, { 'attr' : { 'class' : '' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.category, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(form.category) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.category, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2">
                            {{ form_widget(form.save, { 'attr' : { 'class' : 'btn  btn-sm btn-success admin_btn_edit' }}) }}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}

    <div class="row">
        <div class="admin_btn">
            <a href="{{ path('admin_news') }}" class="btn btn-sm btn-warning admin_btn_mrg">Back to admin Menu</a>
            <a href="{{ path('news_list') }}" class="btn btn-sm btn-info">To News List</a>
        </div>
    </div>
    </div>
{% endblock %}