{% extends 'layout_admin.twig' %}

{% block title %}News Comments LIst{% endblock %}

{% block body %}
     <div class="col-md-12">
          <div class="row">
               <h2>News Comments List</h2>

               <table class="table table-hover ">
                    <thead>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>User Comments</th>
                    <th>News Id</th>
                    </thead>
                    <tbody>
                    <tr>
                         {% for comments in news_comments %}
                         <td>{{ comments.id }}</td>
                         <td>{{ comments.username }}</td>
                         <td>{{ comments.useremail }}</td>
                         <td class="content_wrap">{{ comments.usercomments }}</td>
                         <td>{{ news_id }}</td>
                         <td>
                              <a href="{{ path('news_comments_edit', { 'comments' : comments.id , 'news' : news_id }) }}"
                                 class="btn btn-sm btn-warning">Edit</a>
                              <a href="{{ path('delete_comments', { 'id' : comments.id , 'news' : news_id }) }}"
                                 class="btn btn-sm btn-danger" onclick="return confirm('Are you Sure ?')">Delete</a>
                         </td>
                    </tr>
                    {% endfor %}
                    </tbody>
               </table>
          </div>

          <div class="row">
               <div class="admin_btn">
                    <a href="{{ path('news_list') }}" class="btn btn-sm btn-info">Back To News List</a>
               </div>
          </div>
     </div>
{% endblock %}
