{% extends 'layout_admin.twig' %}

{% block title %}News Comments Edit{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class=" form form-horizontal">
                {% block form %}
                    {{ form_start(commentsForm) }}
                    {{ form_errors(commentsForm) }}

                    <div class="form-group">
                        {{ form_label(commentsForm.user_name, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(commentsForm.user_name) }}
                        <div class="col-sm-7">
                            {{ form_widget(commentsForm.user_name, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(commentsForm.user_email, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(commentsForm.user_email) }}
                        <div class="col-sm-7">
                            {{ form_widget(commentsForm.user_email, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(commentsForm.user_comments, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                        {{ form_errors(commentsForm.user_comments) }}
                        <div class="col-sm-7">
                            {{ form_widget(commentsForm.user_comments, { 'attr' : { 'class' : 'form-control' }}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {#{{ form_label(filterForm.save, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}#}
                        {#{{ form_errors(filterForm.save) }}#}
                        <div class="col-sm-offset-2 btn_filter">
                            {{ form_widget(commentsForm.save, { 'label': 'Edit comments', 'attr': {'class': 'btn btn-sm btn-info form_margin_btn' }}) }}
                        </div>
                    </div>
                    {{ form_end(commentsForm) }}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="admin_btn">
                <a href="{{ path('news_comments', {'newsId' : news }) }}" class="btn btn-sm btn-success">To Comments List</a>
            </div>
        </div>
    </div>
{% endblock %}