{% extends 'layout_admin.twig' %}

{% block title %}Category list{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">

            {% for message in app.flashes('notice') %}
                <div class="flash-notice alert alert-success">
                    <h4>{{ message }}</h4>
                </div>
            {% endfor %}
            <h2>Category List</h2>

            <table class="table table-hover table-condensed">
                <thead>
                <th>id</th>
                <th>Category Title</th>
                </thead>
                <tbody>
                {% for category in news_category %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-default btn-sm btn-warning">Edit</a>
                            <a href="{{ path('delete_category', { 'id': category.id }) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you Sure ?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="admin_btn">
                <a href="{{ path('add_category') }}" class="btn btn-sm btn-success">Create a new Category </a>
                <a href="{{ path('admin_news') }}" class="btn btn-sm btn-info">Back to admin  menu</a>
            </div>
        </div>
    </div>
{% endblock %}