{% extends 'layout_admin.twig' %}

{% block title %}Admin News{% endblock %}

{% block  body %}
     <div class="row">
         <div class="col-md-12">
               <h2>Admin Menu</h2>
             <ul>
                 <li><a href="{{ path('news_list') }}">News list</a></li>
                 <li><a href="{{ path('add_news') }}">Add new News</a></li>
                 <li><a href="{{ path('category_list') }}">Category News list</a></li>
                 <li><a href="{{ path('add_category') }}">Add new News Category</a></li>
             </ul>
             <hr>

             <a href="{{ path('homepage') }}">To public news part</a>
         </div>
     </div>
{% endblock %}