{% extends 'layout_admin.twig' %}

{% block title %}News list{% endblock %}

{% block body %}

    <div class="col-md-12">

        {% for message in app.flashes('notice') %}
                <div class="flash-notice alert alert-success">
                    <h4>{{ message }}</h4>
            </div>
        {% endfor %}

        {% block  form %}
            <div class="row">
                <div class="form_filter">
                    <div class="form-horizontal">
                        {{ form_start(filterForm) }}
                        {{ form_errors(filterForm) }}

                        <div class="form-group">
                            {{ form_label(filterForm.category, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}
                            {{ form_errors(filterForm.category) }}
                            <div class="col-sm-3">
                                {{ form_widget(filterForm.category, { 'attr' : { 'class' : 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {#{{ form_label(filterForm.save, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}#}
                            {#{{ form_errors(filterForm.save) }}#}
                            <div class="col-sm-offset-2 btn_filter">
                                {{ form_widget(filterForm.save, { 'attr' : {'class' : 'btn btn-sm btn-info form_margin_btn'  }}) }}
                            </div>
                        </div>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="row">

            <h2>News List</h2>

            <table class="table table-hover table-condensed">
                <thead>
                <th>Id</th>
                {#<th>{{ knp_pagination_sortable(knp_news_post, 'id', 'np.id') }}</th>#}
                <th>News Title</th>
                <th>Content</th>
                <th>Author Name</th>
                {#<th>Published at</th>#}
                <th>Category</th>
                <th>Images</th>
                <th>User Comments</th>
                </thead>
                <tbody>
                {% for news in news_posts %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td>{{ news.title }}</td>
                        <td class="content_wrap ">{{ news.content|truncate(300) }}</td>
                        <td>{{ news.author }}</td>
                        {#<td>{{ news.publishedAt|date("m/d/y") }}</td>#}
                        <td>{{ news.category }}</td>
                        <td><img src="{{ asset('uploads/files/' ~ news.file) }}" class="img-responsive news_img_admin"
                                 alt="News Image"/></td>

                        <td>
                            <a href="{{ path('news_comments', { 'newsId' : news.id}) }}">Comments</a>
                        </td>
                        <td>
                            <a href="{{ path('news_edit', { 'id': news.id }) }}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{{ path('delete_news', { 'id': news.id }) }}" class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you Sure ?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="admin_btn">
                <a href="{{ path('add_news') }}" class="btn btn-sm btn-success">Create a New news </a>
                <a href="{{ path('admin_news') }}" class="btn btn-sm btn-info">Back to Admin menu</a>
            </div>
        </div>

    </div>
{% endblock %}