{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="admin_login">
    <div class="col-md-5 col-md-offset-3">
        <form class="form-horizontal admin_login_form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-sm-4" for="username">{{ 'security.login.username'|trans }}</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="password">{{ 'security.login.password'|trans }}</label>
                <div class="col-sm-7">
                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label for="remember_me" class="control-label col-sm-4">{{ 'security.login.remember_me'|trans }}</label>
                <div class="col-sm-7">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <input class="btn btn-sm btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                </div>
            </div>
        </form>
    </div>
</div>