{% extends 'layout_simple.html.twig' %}

{% block title %}News {% endblock %}

{% block body %}
    {#<div class="col-md-12">#}
    <div class="col-md-2">
        <div class="left_sidebar">
            <div class="well well-sm">
                {#<div class="col-md-12">#}
                    <h4 class="text-center">Category List</h4>
                    <ul>
                        {% for category in news_categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {#</div>#}
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div id="news_logo_header">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('images/fox_news.png') }}" alt="News Logo" class="img-responsive news_logo">
            </a>
        </div>

        {#<h2><a class="logo_news_list" href="{{ path('show_news') }}">News List</a></h2>#}
        {% for news in news_posts %}
            <div class="public_list clearfix">
                <div class="img_list">
                    <a href="{{ path('single_news', { 'news' :news.id}) }}">
                        <img src="{{ asset('uploads/files/' ~ news.file) }}" class="img-responsive news_img"
                             alt="News Image"/>
                    </a>
                </div>
                <h4><a href="{{ path('single_news', { 'news' :news.id}) }}">{{ news.title }}</a></h4>
                <p class="news_text">{{ news.content|truncate(400) }}</p>
                <h5>{{ news.author }}</h5>

                <a class="btn btn-sm btn-info" href="{{ path('single_news', {'news' :news.id }) }}">Read More</a>

            </div>
        {% endfor %}
    </div>


    {#</div>#}
{% endblock %}