{% extends 'layout_simple.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="col-md-offset-1 col-md-9">
        <div class="row">
            <div class="single_news">

                <div id="single_news_logo_header">
                    <a class="logo_news_list" href="{{ path ('homepage') }}"><img class="img-responsive news_logo" src="{{ asset('images/fox_news.png') }}" alt="News Logo"></a>
                </div>

                <div class="img_list">
                    <img src="{{ asset('uploads/files/' ~ news_images) }}" class="img-responsive single_news_img"
                         alt="News Image"/>
                </div>
                <h3>{{ news_title }}</h3>
                <p>{{ news_content }}</p>
                <div class="col-sm-offset-9 news_part_margin">
                    <h4> News category <a href="#">{{ news_category }}</a></h4>
                    <h4>Author name: <em>{{ news_author }}</em></h4>
                    <a class="btn btn-sm btn-info" href="{{ path ('homepage') }}"> Back to more interest news</a>
                </div>

                <hr/>

                <div class="row">
                    <div class="comments_block">
                        <h3 class="text-left">User Comments</h3>
                        <div class="users_comments">
                            {% for comment in news_comments %}
                                {#<h5>{{ news.id }}</h5>#}
                                <h4>{{ comment.username }} <span>{{ comment.publishedAt|date }}</span></h4>
                                <p>{{ comment.usercomments }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="text-center">Please leave your comment</h3>
                    <div class="comments_form">
                        {#<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
                        {#Link with href#}
                        {#</a>#}
                        {#<button class="btn btn-warning col-sm-offset-5" type="button" data-toggle="collapse"#}
                                {#data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
                            {#Please write your comments#}
                        {#</button>#}
                        <div class="form form-horizontal">
                            {#<div class="collapse" id="collapseExample" style="margin-bottom:1em">#}
                                <div class="well col-sm-offset-4 col-md-4">
                                    {% block form %}
                                        {{ form_start(commentsForm) }}
                                        {{ form_errors(commentsForm) }}

                                        <div class="form-group">
                                            {{ form_label(commentsForm.user_name, null, { 'label_attr' : { 'class' : 'control-label col-sm-4' }}) }}
                                            {{ form_errors(commentsForm.user_name) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(commentsForm.user_name, { 'attr' : { 'class' : 'form-control' }}) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(commentsForm.user_comments, null, { 'label_attr' : { 'class' : 'control-label col-sm-4' }}) }}
                                            {{ form_errors(commentsForm.user_comments) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(commentsForm.user_comments, { 'attr' : { 'class' : 'form-control' }}) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(commentsForm.user_email, null, { 'label_attr' : { 'class' : 'control-label col-sm-4' }}) }}
                                            {{ form_errors(commentsForm.user_email) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(commentsForm.user_email, { 'attr' : { 'class' : 'form-control' }}) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {#{{ form_label(filterForm.save, null, { 'label_attr' : { 'class' : 'control-label col-sm-2' }}) }}#}
                                            {#{{ form_errors(filterForm.save) }}#}
                                            <div class="col-sm-offset-4 btn_filter">
                                                {{ form_widget(commentsForm.save, { 'attr' : {'class' : 'btn btn-sm btn-info form_margin_btn'  }}) }}
                                            </div>
                                        </div>
                                        {{ form_end(commentsForm) }}
                                    {% endblock %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}